/* =FORMS BASIC STYLING
------------------------------------------------------- */

form.webform .inner-form {
    background-color: #fff;
    padding-bottom: 1em;
    padding-right: 20px;
}

/* =FORMS HEADING STYLING
------------------------------------------------------- */
 
form.webform .inner-form > h1,
form.webform .inner-form > h2,
form.webform .inner-form > h3,
form.webform .inner-form > h4 {
    text-align: center;
    border-bottom: 1px solid #ddd;
}

form.webform .inner-form > h1,
form.webform .inner-form > h2 {
    background: #efefef;
    color: #000;
    padding: 0.5em 10px;
}

form.webform .inner-form > h1.light,
form.webform .inner-form > h2.light {
    background-color: #f6f6f6;
    color: #555;
}

form.webform .inner-form > h1.blue,
form.webform .inner-form > h2.blue {
    background-color: #809FE2;
    color: #fff;
}

form.webform .inner-form > h3,
form.webform .inner-form > h4 {
    padding: 10px;
    width: 100%;
}

/* =FORMS BASIC ELEMENTS STYLING
------------------------------------------------------- */

form.webform .inner-form > fieldset {
    border: 0;
}

form.webform .inner-form > a.button,
form.webform .inner-form > button,
form.webform .inner-form > input,
form.webform .inner-form > label:not(.option),
form.webform .inner-form > select,
form.webform .inner-form > textarea {
    margin-left: 10px;
}

form.webform .inner-form input,
form.webform .inner-form select,
form.webform .inner-form textarea {
    border: 1px solid #CCC;
    font-size: .9em;
}

form.webform .inner-form input,
form.webform .inner-form textarea,
form.webform .inner-form input:not[type=text] {
    padding: 4px 0;
}

form.webform .inner-form textarea {
    font: 100%/1.25 Arial, Helvetica, sans-serif;
    height: 4em;
}

form.webform .inner-form p {
    margin-bottom: .5em;
}

form.webform .inner-form > label {
    margin-top: 1em;
}

form.webform .inner-form div,
form.webform .inner-form h1,
form.webform .inner-form h2,
form.webform .inner-form p,
form.webform .inner-form a.button,
form.webform .inner-form fieldset,
form.webform .inner-form input,
form.webform .inner-form label,
form.webform .inner-form select,
form.webform .inner-form textarea {
    display: block;
    width: 100%;
}

.option input {
    display:inline;
        width:auto;
}

form.webform .inner-form .last {
    border-bottom: none;
}

form.webform .inner-form > div,
form.webform .inner-form > fieldset,
form.webform .inner-form > p {
    border-bottom: 1px solid #ddd;
    padding: 10px;
}

/* =FORMS BUTTON STYLING
------------------------------------------------------- */
 
form.webform .inner-form a.button {
    text-align: center;
}

form.webform .inner-form input[type="submit"],
form.webform .inner-form input[type="reset"],
form.webform .inner-form button,
form.webform .inner-form a.button {
    background-color: #e4e7ee;
    border: 0;
    color: #000;
    cursor: pointer;
    font: 100%/1.25 Arial, Helvetica, sans-serif;
    margin-top: 10px;
    padding: .5em 0;
    height: auto;
}

form.webform .inner-form input[type="submit"],
form.webform .inner-form input[type="reset"],
form.webform .inner-form button {
    padding: .5em 1em;
}

form.webform .inner-form input[type="submit"][disabled="disabled"],
form.webform .inner-form input[type="reset"][disabled="disabled"],
form.webform .inner-form button[disabled="disabled"],
form.webform .inner-form a.button.disabled {
    color: #888;
    cursor: default;
}

.mwf_notmobile form.webform .inner-form input[type="submit"][disabled="disabled"]:hover,
.mwf_notmobile form.webform .inner-form input[type="reset"][disabled="disabled"]:hover,
.mwf_notmobile form.webform .inner-form button[disabled="disabled"]:hover,
.mwf_notmobile form.webform .inner-form a.button:hover.disabled,
form.webform .inner-form input[type="submit"][disabled="disabled"]:focus,
form.webform .inner-form input[type="reset"][disabled="disabled"]:focus,
form.webform .inner-form button[disabled="disabled"]:focus,
form.webform .inner-form a.button:focus.disabled {
    background-color: #e4e7ee;
}

.mwf_notmobile form.webform .inner-form input[type="submit"]:hover,
.mwf_notmobile form.webform .inner-form input[type="reset"]:hover,
.mwf_notmobile form.webform .inner-form button:hover,
.mwf_notmobile form.webform .inner-form a.button:hover,
form.webform .inner-form input[type="submit"]:focus,
form.webform .inner-form input[type="reset"]:focus,
form.webform .inner-form button:focus,
form.webform .inner-form a.button:focus {
    background-color: #cfd5e1;
}

form.webform .inner-form input[type="submit"].primary,
form.webform .inner-form input[type="reset"].primary,
form.webform .inner-form button.primary,
form.webform .inner-form a.button.primary,
.mwf_notmobile form.webform .inner-form input[type="submit"][disabled="disabled"].primary:hover,
.mwf_notmobile form.webform .inner-form input[type="reset"][disabled="disabled"].primary:hover,
.mwf_notmobile form.webform .inner-form button.primary[disabled="disabled"]:hover,
.mwf_notmobile form.webform .inner-form a.button.primary:hover.disabled,
form.webform .inner-form input[type="submit"][disabled="disabled"].primary:focus,
form.webform .inner-form input[type="reset"][disabled="disabled"].primary:focus,
form.webform .inner-form button[disabled="disabled"].primary:focus,
form.webform .inner-form a.button.primary:focus.disabled {
    background-color: #fbaf3f;
}

.mwf_notmobile form.webform .inner-form input[type="submit"].primary:hover,
.mwf_notmobile form.webform .inner-form input[type="reset"].primary:hover,
.mwf_notmobile form.webform .inner-form button.primary:hover,
.mwf_notmobile form.webform .inner-form a.button.primary:hover,
form.webform .inner-form input[type="submit"].primary:focus,
form.webform .inner-form input[type="reset"].primary:focus,
form.webform .inner-form button.primary:focus,
form.webform .inner-form a.button.primary:focus {
    background-color: #ffb300;
}

form.webform .inner-form input[type="submit"].secondary,
form.webform .inner-form input[type="reset"].secondary,
form.webform .inner-form button.secondary,
form.webform .inner-form a.button.secondary,
.mwf_notmobile form.webform .inner-form input[type="submit"][disabled="disabled"].secondary:hover,
.mwf_notmobile form.webform .inner-form input[type="reset"][disabled="disabled"].secondary:hover,
.mwf_notmobile form.webform .inner-form button[disabled="disabled"].secondary:hover,
.mwf_notmobile form.webform .inner-form a.button.secondary:hover.disabled,
form.webform .inner-form input[type="submit"][disabled="disabled"].secondary:focus,
form.webform .inner-form input[type="reset"][disabled="disabled"].secondary:focus,
form.webform .inner-form button[disabled="disabled"].secondary:focus,
form.webform .inner-form a.button.secondary:focus.disabled {
    background-color: #9caccf;
}

.mwf_notmobile form.webform .inner-form input[type="submit"].secondary:hover,
.mwf_notmobile form.webform .inner-form input[type="reset"].secondary:hover,
.mwf_notmobile form.webform .inner-form button.secondary:hover,
.mwf_notmobile form.webform .inner-form a.button.secondary:hover,
form.webform .inner-form input[type="submit"].secondary:focus,
form.webform .inner-form input[type="reset"].secondary:focus,
form.webform .inner-form button.secondary:focus,
form.webform .inner-form a.button.secondary:focus {
    background-color: #869ac5;
}

/* =FORMS SHORT FORM STYLING
------------------------------------------------------- */
 
form.webform .inner-form.short input,
form.webform .inner-form.short > label {
    display: inline;
    width: auto;
}

/* =FORMS OPTION ALIGNMENT STYLING
------------------------------------------------------- */
 
form.webform .inner-form .option {
    padding: 0 0 0 10px;
    margin-bottom: 0;
    border-bottom: none;
}

/* =FORMS REQUIRED LABEL STYLING
------------------------------------------------------- */
 
span.required:after {
    content: "*";
    color: #536895;
    padding-left:.2em;
}

/* =FORMS INVALID STYLING
------------------------------------------------------- */

form.webform .inner-form .invalid {
    color: #a00;
}

form.webform .inner-form span.invalid {
    display: block;
}

form.webform .inner-form span.invalid:before {
    font-size: 1.5em;
}

form.webform .inner-form input.invalid,
form.webform .inner-form select.invalid,
form.webform .inner-form textarea.invalid {
    border: 1px solid #a00;
}

/* =FORMS DATE STYLING
------------------------------------------------------- */

form.webform .inner-form .date-field,
form.webform .inner-form .month-field,
form.webform .inner-form .week-field,
form.webform .inner-form .datetime-field,
form.webform .inner-form .datetime-local-field,
form.webform .inner-form .time-field {
    border-bottom: none;
    padding: 0 0 0 10px;
    margin-bottom: 0;
}

form.webform .inner-form .date-field select,
form.webform .inner-form .month-field select,
form.webform .inner-form .week-field select,
form.webform .inner-form .datetime-field select,
form.webform .inner-form .datetime-local-field select,
form.webform .inner-form .time-field select {
    display: inline;
    width: auto;
}

/* =FORMS MULTI-LEVEL FORM STYLING
------------------------------------------------------- */

.content form.webform .inner-form {
    padding-left: 0;
}

.content form.webform .inner-form {
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 20px;
}

.content > div > form.webform .inner-form > div,
.content > div > form.webform .inner-form > fieldset,
.content > div > form.webform .inner-form > p {
    border-bottom: none;
    padding: 0;
}

.content > div > form.webform .inner-form > fieldset{
    padding-bottom: .5em;
}

.content > div > form.webform .inner-form{
    padding-right: 0;
}

.content > div > form.webform .inner-form > a.button,
.content > div > form.webform .inner-form > button,
.content > div > form.webform .inner-form > input,
.content > div > form.webform .inner-form > label,
.content > div > form.webform .inner-form > select,
.content > div > form.webform .inner-form > textarea{
    margin-left: 0;
}

/* =STRUCTURE
------------------------------------------------------- */

form.webform
{
    background: #DDD;
    padding: 0;
}

form.webform .aspNetHidden
{
    border: 0;
    padding: 0;
}

form.webform > h1, form.webform > div, form.webform > fieldset, form.webform > p
{
    border-bottom: 0;
    padding: 0;
}

form.webform .content-full > *
{
    width: auto;
    zoom: 1;
}

form.webform .inner-form
{
    width: auto;
}

form.webform div#footer
{
    width: auto;
}

/* =BUTTONS
------------------------------------------------------- */

form.webform > a.button
{
    background-color: #536895;
    border-bottom: 1px solid #AAA;
    color: #FFF;
    font-size: 1.2em;
    font-weight: bold;
    line-height: 26.8px;
    line-height: 1.5em;
    margin: 0;
    padding: 0.5em 0 0.4em;
}

/* =HEADINGS
------------------------------------------------------- */

form.webform form > h1, form.webform form > h2
{
    padding: 0.5em 10px;
}

/* =MESSAGE
------------------------------------------------------- */

form.webform .message
{
    width: auto;
}

form.webform div.message
{
    padding: .5em 0 .5em 1em;
}

/* =OPTIONS
------------------------------------------------------- */

form.webform .option input
{
    display: inline;
    width: auto;
}